/* generale */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
}

h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.5em;
}

.padding_t_b_60 {
  padding: 60px 0;
}
.marg_top_60 {
  margin-top: 60px;
}

.link_white {
  color: white;
}
/* stelle */
.star {
  font-size: 2.5em;
  position: relative;
}
.star.black {
  color: black;
}
.star::after {
  position: absolute;
  left: 54px;
  top: 30px;
  width: 100px;
  height: 5px;
  background-color: white;
  content: '';
  border-radius: 5px;
}
.star::before {
  position: absolute;
  right: 54px;
  top: 30px;
  width: 100px;
  height: 5px;
  background-color: white;
  content: '';
  border-radius: 5px;
}
.star.black::after{
  background-color: black;
}
.star.black::before{
  background-color: black;
}
/* fine generale */
/* inizio header */
header {
  color: white;
}
/* inizio top header */
.top_header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  height: 80px;
  line-height: 80px;
  background-color: #2c3e50;
}
.top_header h2 {
  display: inline-block;
  font-size: 1.5em;
}
.top_header i {
  padding-left: 5px;
}

.top_header .button_menu {
  float: right;
  background-color: #23d191;
  color: white;
  margin-top: 20px;
}
.top_header .menu {
  float: right;
  line-height: 60px;
}
.top_header .link_white:hover {
  background-color: #2c3e50;
  color: #1abc9c;
}
/* fine top header */
/* inizio jumb */
.jumb {
  margin-top: 80px;
  background-color: #1abc9c;
}

.contain_jumb img {
  height: 200px;
}
/* fine jumb */
/* fine header */
/* inizio main */
/* inizio portfolio */
.container_image_portfolio {
  position: relative;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
}
.layover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1abc9c9e;
  opacity: 0;
}
.layover i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 100px;
}
.layover:hover {
  opacity: 1;
}
.image_porfolio {
  width: 100%;
}
/* fine portfolio */
/* inizio about */
.about {
  text-align: center;
  background-color: #1abc9c;
  color: white;
}
.about a {
  background-color: #1abc9c;
  border: 1px solid white;
  margin-top: 40px;
  padding: 20px 30px;
}
.about a:hover {
  background-color: white;
}

/* fine about */
/* inizio contact */
.border_form {
  border-bottom: 1px solid #0000001c;
}
.form_input {
  height: 60px;
  font-size: 1.5em;
  border: none;
  box-shadow: none;
}
.contact a {
  background-color: #1abc9c;
  padding: 20px 30px;
  float: left;
}
/* fine contact */
/* fine main */
/* inizio footer */
/* inizio top footer */
footer {
  color: white;
}

.top_footer {
  background-color: #2c3e50;
  padding-bottom: 40px;
}
.circle_icon_footer {
  display: inline-block;
  margin: 10px 3px;
  position: relative;
  width: 50px;
  height: 50px;
  border: 2px solid white;
  border-radius: 50%;
}
.icon_footer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}
.circle_icon_footer:hover {
  background-color: white;
}
.icon_footer:hover {
  color: black;
}
.top_footer p span {
  color: #23d191;
}
/* fine top footer */
/* inizio bottom footer */
.bottom_footer {
  background-color: #1a252f;
  padding: 30px 0;
}
.bottom_footer p {
  font-size: 0.6em;
}
/* fine bottom footer */
/* fine footer */
/* responsive smartphone */
@media screen and (max-width:767px) {
  /* generali */
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 2em;
  }
  /* header */
  .top_header h2 {
    font-size: 1em;
  }
  /* footer */
  .col_social {
    margin: 15px 0;
  }
}
